---
import AnimatedCodeBlock from '../../components/AnimatedCodeBlock.astro';
import MonacoEditor from '../../components/MonacoEditor.astro';
---

<div class="about-ts">
  <div class="about-ts-text">
    <div class="about-ts-text-image">
      <img src="/public/assets/TS.png" alt="typescript" />
    </div>
    <h3>A linguagem do futuro</h3>
    <p class="body-20">
      O TypeScript é uma das linguagens mais admiradas e desejadas no mundo.
      Grandes empresas como Microsoft e Google já utilizam TypeScript para
      manter suas aplicações.
    </p>
    <p class="body-20">
      Se você tem o sonho de trabalhar no exterior, centenas de empresas
      internacionais estão contratando desenvolvedores TypeScript, oferecendo a
      chance de migrar para uma carreira fora do país, assim como eu fiz.
    </p>
  </div>
  <div class="about-ts-codeblock">
    <MonacoEditor
      code="console.log('Hello World')"
      language="typescript"
      theme="vs-dark"
      options={{ minimap: { enabled: false }, lineNumbers: 'on', fontSize: 16 }}
      height="400px"
    />
    <span class="absolute-codeblock top-left">
      <AnimatedCodeBlock code="Esse é seu futuro" />
    </span>
    <span class="absolute-codeblock bottom-right">
      <!-- TODO: Add link around here -->
      <AnimatedCodeBlock
        code="Clique aqui e tenha seu primeiro contato com TS"
      />
    </span>
  </div>
</div>

<style lang="scss">
  .about-ts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 165px;

    &-text {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 60px;

      h3,
      p {
        width: 100%;
        text-align: left;
      }

      &-image {
        width: 100px;
        height: 100px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-70px, -65px);
        }
      }
    }

    &-codeblock {
      position: relative;

      .absolute-codeblock {
        position: absolute;
        width: auto;

        &.top-left {
          top: 20px;
          left: -70px;
        }

        &.bottom-right {
          bottom: 20px;
          right: -70px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .about-ts {
      flex-direction: column;

      &-text {
        margin-right: 0;
        margin-bottom: 40px;
      }

      &-codeblock {
        width: 100%;
        .absolute-codeblock {
          &.top-left {
            top: -20px;
            left: 0;
          }

          &.bottom-right {
            width: 600px;
            bottom: 20px;
            right: 0;
          }
        }
      }
    }
  }
</style>
