---
import BoxGradientBorder from '../../components/BoxGradientBorder.astro';
import FAQQuestions from './FAQQuestions.astro';
---

<div class="faq-container">
  <div class="faq-whatsapp">
    <h3 class="faq-title--desktop">Perguntas e respostas mais frequentes</h3>

    <BoxGradientBorder
      borderColor="gray"
      padding="32px"
      borderWidth="1px"
      backgroundColor="#121214"
    >
      <div class="faq-whatsapp-icon" style="margin-bottom: 24px">
        <img src="/assets/icons/whatsapp.svg" alt="Whatsapp" />
      </div>
      <h4>Ficou alguma dúvida?</h4>
      <p class="body-16">Nos envie uma mensagem</p>

      <button class="faq-whatsapp-button interactable" type="button">
        Chamar no Whatsapp
      </button>
    </BoxGradientBorder>
  </div>
  <FAQQuestions
    questions={[
      {
        title: 'Quanto tempo vou ter acesso ao treinamento?',
        paragraphs: [
          'O treinamento não tem uma data de expiração, comprou uma vez ele será seu para sempre.',
        ],
      },
      {
        title: 'Qual o diferencial da Formação TS?',
        paragraphs: [
          'A formação TS é o treinamento mais completo de TypeScript do Brasil, não existe nenhum outro treinamento tão aprofundado quanto esse. Cobrindo desde os básicos da linguagem até conceitos e técnicas que vão além, como testes e boas práticas.',
          'São mais de 120 aulas rápidas e diretas que podem ser assistidas a qualquer momento. Além disso, temos três projetos práticos ao longo do curso, junto com quizzes, exercícios e desafios.',
        ],
      },
      {
        title: 'O que são os conteúdos extras?',
        paragraphs: [
          'De tempos em tempos fazemos conteúdos extras como lives, novos projetos, minicursos e muitos outros conteúdos. Todos eles estão inclusos ao adquirir o treinamento.',
        ],
      },
      {
        title: 'O que está incluso no acesso ao curso?',
        paragraphs: [
          'Você terá acesso ao primeiro capítulo do treinamento, a FTS Essencial, com todas as suas mais de 120 aulas, projetos, comunidade exclusiva de mais de 300 alunos, acesso a todas as Semanas TypeScript que fizermos, além de um desconto exclusivo de aluno para os demais capítulos Intermediário e Expert.',
        ],
      },
      {
        title: 'Como a formação TS garante a prática?',
        paragraphs: [
          'Através do uso de casos reais e de foco no que importa para o mercado, agilidade, rapidez e praticidade no desenvolvimento e resolução de problemas. Você vai aprender muito além de operar um framework, vamos entrar nos conceitos fundamentais da linguagem para que você não entenda SÓ TypeScript, mas possa usar o conhecimento adquirido aqui para melhorar suas habilidades em QUALQUER biblioteca que use TypeScript.',
          'A FTS Essencial te prepara tranquilamente para entrar no mercado de trabalho como um desenvolvedor TypeScript Junior caso você esteja ingressando agora no mercado ou, se você já é mais experiente, te proporciona com o conhecimento de mais de uma década de desenvolvimento prático que tive com essa tecnologia, que você pode aplicar em outras áreas do seu trabalho.',
        ],
      },
    ]}
  />
  <h3 class="faq-title--mobile">Perguntas e respostas mais frequentes</h3>
</div>

<style lang="scss">
  .faq-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .faq-title--mobile {
      display: none;
    }

    .faq-whatsapp {
      width: 459.83px;
      display: flex;
      flex-direction: column;
      gap: 64px;

      h4 {
        margin: 0;
      }

      p {
        margin-top: 2px;
        margin-bottom: 32px;
      }
      &-button {
        background: var(--green-medium);
        box-shadow: var(--green-box-shadow);
        padding: 24px 32px;
        border-radius: 8px;
        color: var(--white);
        font-size: 16px;
        border: none;
        transition: transform 0.2s ease-out;
        animation: pulse-shadow 4s infinite;

        @keyframes pulse-shadow {
          0% {
            filter: drop-shadow(0 0 0 #00c86f);
          }
          50% {
            filter: drop-shadow(0 0 0.75rem #00c86f);
          }
          100% {
            filter: drop-shadow(0 0 0 #00c86f);
          }
        }

        &:hover {
          animation: none;
          filter: drop-shadow(0 0 0.75rem #00c86f);
        }
      }
    }
  }

  @media (max-width: 900px) {
    .faq-container {
      flex-direction: column-reverse;
      padding-bottom: 150px;

      .faq-title {
        &--desktop {
          display: none;
        }

        &--mobile {
          display: block;
        }
      }

      .faq-whatsapp {
        width: 100%;
      }
    }
  }
</style>
