---
import Button from '../../components/Button.astro';
---

<header>
  <a href="/" class="logo interactable">
    <img src="/public/assets/logo.svg" alt="logo" />
  </a>
  <nav>
    <ul>
      <li class="interactable"><a href="#home">Para quem é</a></li>
      <li class="interactable"><a href="#about">Seu mentor</a></li>
      <li class="interactable"><a href="#services">Depoimentos</a></li>
      <li class="interactable"><a href="#contact">FAQ</a></li>
    </ul>
  </nav>
  <div class="cta-buttons">
    <Button variant="outline">Já sou aluno</Button>
    <Button variant="primary">Inscreva-se agora</Button>
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .logo {
    flex-shrink: 0;
  }

  nav {
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 1rem;

        a {
          color: var(--gray-500);
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s ease;

          &:hover {
            color: var(--blue-light);
          }
        }
      }
    }
  }

  .cta-buttons {
    display: flex;
    gap: 1rem;
  }
</style>
