---
import Button from '../../components/Button.astro';
const publicSalePage = import.meta.env.PUBLIC_SALE_PAGE
---

<header>
  <a href="/" class="logo interactable">
    <img src="/assets/logo.svg" alt="logo" />
  </a>
  <nav>
    <ul>
      <li class="interactable"><a href="#target-audience">Para quem é</a></li>
      <li class="interactable"><a href="#your-mentor">Seu mentor</a></li>
      <li class="interactable"><a href="#testimonials">Depoimentos</a></li>
      <li class="interactable"><a href="#faq">FAQ</a></li>
    </ul>
  </nav>
  <div class="cta-buttons">
    <Button variant="outline">Já sou aluno</Button>
        <Button variant="primary">
            <a href={publicSalePage} target="_blank" class="cta-link">Inscreva-se agora</a>
        </Button>
  </div>
</header>

<style lang="scss">
  .cta-link {
    color: white;
    text-decoration: none;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .logo {
    flex-shrink: 0;
  }

  nav {
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 1rem;

        a {
          color: var(--gray-500);
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s ease;

          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }

  .cta-buttons {
    display: flex;
    gap: 1rem;
  }

  @media (max-width: 900px) {
    header {
      justify-content: center;
      margin-top: 20px;
      nav,
      .cta-buttons {
        display: none;
      }
    }
  }
</style>
