---
import Button from '../../components/Button.astro';
import pricing, { formatPrice } from '../../_config/pricing';
---

<div class="cool-box">
  <div class="pricing">
    <div class="pricing-info pricing-box">
      <img
        src="/public/assets/logo.svg"
        alt="Logo Formação TypeScript"
        class="pricing-logo"
      />
      <ul>
        <li class="pricing-info-item body-16">Projetos práticos</li>
        <li class="pricing-info-item body-16">Minicurso gratuito de Zod</li>
        <li class="pricing-info-item body-16">Acesso à comunidade exclusiva</li>
        <li class="pricing-info-item body-16">Contato direto com seu mentor</li>
        <li class="pricing-info-item body-16">Preparado para o mercado</li>
      </ul>
    </div>

    <div class="pricing-divider"></div>

    <div class="pricing-cta pricing-box">
      <p class="pricing-cta-text body-20">12x de</p>
      <h1 class="pricing-cta-price">{formatPrice(pricing.monthly)}</h1>
      <p class="pricing-cta-text body-20">
        ou {formatPrice(pricing.yearly)} à vista
      </p>
      <Button
        variant="primary-large"
        style="margin-top: 32px; padding: 27px"
        tooLargeMobile
      >
        Inscreva-se agora
        <img
          src="/public/assets/icons/rocket.svg"
          alt="rocket"
          style="margin-left: 16px"
        />
      </Button>
      <a
        href="/public/assets/Grade FTS Essencial.pdf"
        target="_blank"
        class="pricing-cta-grade"
      >
        Confira a grade completa do curso
      </a>
    </div>
  </div>
</div>

<style lang="scss">
  .pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 64px;

    &-logo {
      margin-bottom: 48px;
    }

    &-divider {
      margin: 0 64px;
      width: 1px;
      height: 100%;
      background: white;
      opacity: 0.05;
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--gray-500);
    }
    &-info {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      li {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: '';
          display: inline-block;
          width: 31.98px;
          height: 31.98px;
          background: url('/public/assets/icons/check.svg') no-repeat center
            center;
          background-size: contain;
          margin-right: 24px;
          flex-shrink: 0;
        }
      }
    }

    &-cta {
      > h1,
      > p {
        margin: 0;
      }
      &-price {
        color: var(--white);
      }

      button {
        margin: 0 !important;
      }

      a {
        margin-top: 32px;
        color: var(--white);
        text-decoration: underline;

        &:hover {
          scale: 1.02;
        }
      }
    }
  }

  .cool-box {
    // width: 724px;
    // height: 472px;
    /* border: 2px solid;
    border-image: linear-gradient(45deg, #00f, #0ff) 1; */
    background: linear-gradient(45deg, #00f, #0ff);
    padding: 2px; /* Space for the border */
    background-clip: padding-box;
    border-radius: 10px;
    padding: 20px;

    /* Glass effect */
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1); /* Translucent background */

    /* To add more depth, a shadow */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    position: relative; /* Needed for the pseudo-element to position correctly */
    /* background: rgba(
      255,
      255,
      255,
      0.1
    ); */
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  .cool-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px; /* Same border-radius for the pseudo-element */
    padding: 2px;
    background: linear-gradient(45deg, #00f, #0ff); /* Gradient border effect */
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0); /* Mask to show the border only */
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none; /* So it doesn't interfere with interaction */
  }

  @media (max-width: 900px) {
    .cool-box {
      width: 100%;
    }

    .pricing {
      flex-direction: column;
      padding: 48px 24px;
    }
  }
</style>
