---
import BoxGradientBorder from '../../components/BoxGradientBorder.astro';
---

<div class="target-audience">
  <BoxGradientBorder
    borderColor="gray"
    padding="98px"
    borderWidth="1px"
    paddingMobile="12px"
  >
    <h1><span class="text-gradient">Para quem</span> é</h1>

    <div class="plans">
      <div class="plan">
        <span class="placeholder-rectangle">
          <img src="/public/assets/audiences/junior.png" alt="junior" />
        </span>
        <div>
          <p class="body-24">Devs Iniciantes</p>
          <p class="body-16">Passo a passo desde o início</p>
        </div>
      </div>
      <div class="plan">
        <div>
          <p class="body-24">Devs Plenos</p>
          <p class="body-16">Conceitos focados</p>
        </div>
        <span class="placeholder-rectangle">
          <img src="/public/assets/audiences/pleno.png" alt="pleno" />
        </span>
      </div>
      <div class="plan">
        <span class="placeholder-rectangle">
          <img src="/public/assets/audiences/senior.png" alt="senior" />
        </span>
        <div>
          <p class="body-24">Devs Experientes</p>
          <p class="body-16">Conteúdo prático</p>
        </div>
      </div>
    </div>
  </BoxGradientBorder>
</div>

<style lang="scss">
  .placeholder-rectangle {
    display: block;
    width: 227px;
    height: 227px;
    border-radius: 9.84px;
    background: #d9d9d9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 9.84px;
    }
  }
  .target-audience {
    margin-top: 40px;
    margin-bottom: 90px;

    .plans {
      display: flex;
      gap: 32px;
      margin-top: 84px;
      .plan {
        width: 291px;
        height: 401px;
        padding: 48px 32px;
        border-radius: 8px;
        background: var(--gray-800);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;

          &.body-24 {
            color: var(--white);
          }

          &.body-16 {
            opacity: 0.8;
          }
        }

        > div {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .target-audience {
      width: 100%;
      padding: 0;
      .plans {
        flex-direction: column;
        align-items: center;
      }
    }
  }
</style>
