---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import AnimatedCodeBlock from '../components/AnimatedCodeBlock.astro';
import FixedCTA from '../components/FixedCTA.astro';
import Header from './home/Header.astro';
---

<Layout title="Formação Typescript">
  <Header />
  <main>
    <!-- <Button variant="primary">Inscreva-se agora</Button>
    <Button variant="primary-large">
      Inscreva-se agora
      <img
        src="/public/assets/rocket.svg"
        alt="rocket"
        style="margin-left: 16px"
      />
    </Button>
    <Button variant="primary-alt">Inscreva-se agora</Button>
    <Button variant="outline">Inscreva-se agora</Button>
    <AnimatedCodeBlock code={'Code block here_'} language="javascript" />
    <FixedCTA />
    <img src="/public/assets/logo.svg" alt="logo" /> -->
  </main>
</Layout>

<style lang="scss"></style>
