---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import AnimatedCodeBlock from '../components/AnimatedCodeBlock.astro';
import FixedCTA from '../components/FixedCTA.astro';
import VideoPlayer from '../components/VideoPlayer.astro';

import Header from './home/Header.astro';
import Pricing from './home/Pricing.astro';
import FAQ from './home/FAQ.astro';
import Numbers from './home/Numbers.astro';
import AboutTS from './home/AboutTS.astro';
import TargetAudience from './home/TargetAudience.astro';
import Testimonials from './home/Testimonials.astro';
import Mentor from './home/Mentor.astro';
const publicSalePage = import.meta.env.PUBLIC_SALE_PAGE;
---

<Layout title="Formação Typescript">
  <FixedCTA />
  <main>
    <Header />
    <div class="background-blob" style="display: none">
      <span class="blob"></span>
      <span class="blob blob-2"></span>
    </div>

    <section id="hero" class="limited-width">
      <AnimatedCodeBlock code="Hello World" />
      <h1>
        Torne-se um mestre<br /> em
        <span class="text-gradient">TypeScript</span>
      </h1>
      <p class="body-24">
        Domine a <strong>tecnologia mais requisitada</strong> e conquiste as melhores
        vagas do mercado.
      </p>
      <div class="mobile-cta">
        <Button variant="outline">Já sou aluno</Button>
      </div>
      <VideoPlayer src="https://www.youtube.com/embed/Npnb6J9gknU?si=pVXolOyqerWR7lsg" />
    </section>

    <section id="about-ts" class="about-ts limited-width">
      <AboutTS />
    </section>

    <section id="numbers" class="numbers">
      <Numbers />
    </section>

    <section id="target-audience" class="target-audience box limited-width">
      <TargetAudience />
    </section>

    <section id="cta-alt" class="limited-width">
      <h3>
        Transforme sua carreira <br /> com TypeScript
      </h3>
      <div class="cta-alt-buttons">
        <img src="/assets/icons/arrow-right.svg" alt=">" />
        <Button variant="primary-alt">
            <a href={publicSalePage} target="_blank" class="text-gradient">Inscreva-se agora</a>
        </Button>
      </div>
    </section>

    <section id="testimonials" class="box">
      <Testimonials />
    </section>

    <section id="your-mentor" class="box limited-width">
      <Mentor />
    </section>

    <section id="pricing" class="box limited-width">
      <Pricing />
    </section>

    <section id="faq" class="box limited-width">
      <FAQ />
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .limited-width {
    width: 100%;
    max-width: 1102px;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 128px;

    p {
      margin-bottom: 100px;
    }

    .mobile-cta {
      display: none;
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }

  #cta-alt {
    background: linear-gradient(
      105.87deg,
      var(--blue-light) 0.1%,
      var(--blue-dark) 77.77%
    );
    box-shadow: var(--blue-box-shadow);
    border-radius: 8px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 128px;

    h3 {
      margin: 0;
    }

    .cta-alt-buttons {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        animation: bounce 2s ease-in-out infinite;
      }
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
  }

  #your-mentor {
  }

  #pricing {
    height: 600px;
    margin: 128px 0;
  }

  .background-blob {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    pointer-events: none;
  }

  .blob {
    position: absolute;
    width: calc(468.92px * 1.5);
    height: calc(468.92px * 1.5);
    top: 100px;
    left: -177.19px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--blue-dark) 0%, transparent 70%);
    z-index: 1;
    opacity: 0.7;

    &-2 {
      background: radial-gradient(
        circle,
        var(--blue-light) 0%,
        transparent 70%
      );
      top: -100px;
      left: calc(45% + 177.19px);
    }
  }

  @media (max-width: 900px) {
    main {
      padding: 15px;

      #hero {
        margin-top: 40px;

        p {
          margin-bottom: 0;
        }

        .mobile-cta {
          display: block;
        }
      }

      #cta-alt {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 0;
      }
    }
  }
</style>
