---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import AnimatedCodeBlock from '../components/AnimatedCodeBlock.astro';
import FixedCTA from '../components/FixedCTA.astro';
import Header from './home/Header.astro';
import VideoPlayer from '../components/VideoPlayer.astro';
---

<Layout title="Formação Typescript">
  <main>
    <Header />
    <div class="background-blob">
      <span class="blob"></span>
      <span class="blob blob-2"></span>
    </div>
    <section id="hero">
      <AnimatedCodeBlock code="Hello World_" />
      <h1>
        Torne-se um mestre <br /> em <strong class="text-gradient"
          >TypeScript</strong
        >
      </h1>
      <p class="body-24" style="margin-bottom: 200px">
        Domine a <strong>tecnologia mais requisitada</strong> e conquiste as melhores
        vagas do mercado.
      </p>
      <VideoPlayer src="/public/assets/video.mp4" />
    </section>
    <section id="about-ts" class="about-ts">
      <div class="about-ts-text">
        <div class="about-ts-text-image">
          <img src="/public/assets/TS.png" alt="typescript" />
        </div>
        <h3>A linguagem do futuro</h3>
        <p class="body-20">
          O TypeScript é uma das linguagens mais admiradas e desejadas no mundo.
          Grandes empresas como Microsoft e Google já utilizam TypeScript para
          manter suas aplicações.
        </p>
        <p class="body-20">
          Se você tem o sonho de trabalhar no exterior, centenas de empresas
          internacionais estão contratando desenvolvedores TypeScript,
          oferecendo a chance de migrar para uma carreira fora do país, assim
          como eu fiz.
        </p>
      </div>
      <div class="about-ts-codeblock">
        <img src="/public/assets/PROVISORIO.png" alt="typescript code" />
      </div>
    </section>

    <section id="numbers" class="numbers">
      <div class="numbers-item">
        <h1 class="text-gradient">90%</h1>
        <h4 class="bold">Das empresas</h4>
        <p class="body-16">
          que utilizam JavaScript exigem o TypeScript como habilidade técnica.
        </p>
      </div>
      <div class="numbers-item">
        <h1 class="text-gradient">95%</h1>
        <h4 class="bold">Do mercado internacional</h4>
        <p class="body-16">
          tem o TypeScript como a tecnologia mais requisitada.
        </p>
      </div>
      <div class="numbers-item">
        <h1 class="text-gradient">10x</h1>
        <h4 class="bold">Mais rápida</h4>
        <p class="body-16">do que as outras linguagens de programação.</p>
      </div>
      <div class="numbers-item">
        <h1 class="text-gradient">2M+</h1>
        <h4 class="bold">De desenvolvedores</h4>
        <p class="body-16">do que as outras linguagens de programação.</p>
      </div>
    </section>
  </main>
  <!-- <Button variant="primary">Inscreva-se agora</Button>
    <Button variant="primary-large">
      Inscreva-se agora
      <img
        src="/public/assets/rocket.svg"
        alt="rocket"
        style="margin-left: 16px"
      />
    </Button>
    <Button variant="primary-alt">Inscreva-se agora</Button>
    <Button variant="outline">Inscreva-se agora</Button>
    <AnimatedCodeBlock code={'Code block here_'} language="javascript" />
    <FixedCTA />
    <img src="/public/assets/logo.svg" alt="logo" /> -->
</Layout>

<style lang="scss">
  main {
    position: relative;
    width: 100%;
    padding-bottom: 400px;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
  }

  .about-ts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 165px;

    &-text {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 60px;

      h3,
      p {
        width: 100%;
        text-align: left;
      }

      &-image {
        width: 100px;
        height: 100px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-70px, -65px);
        }
      }
    }

    &-codeblock {
      // flex: 1;
    }
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    padding-left: 144px;
    &-item {
      position: relative;
      width: 328px;

      h1,
      h4,
      p {
        margin: 0;
        text-align: left;
      }

      h4 {
        margin-top: 32px;
        margin-bottom: 16px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -24px;
        width: 2px;
        height: 100%;
        background: linear-gradient(
          to top,
          var(--blue-dark),
          var(--blue-light)
        );
      }
    }
  }

  .background-blob {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
  }

  .blob {
    position: absolute;
    width: calc(468.92px * 1.5);
    height: calc(468.92px * 1.5);
    top: 100px;
    left: -177.19px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--blue-dark) 0%, transparent 70%);
    z-index: 1;
    opacity: 0.7;

    &-2 {
      background: radial-gradient(
        circle,
        var(--blue-light) 0%,
        transparent 70%
      );
      top: -100px;
      left: calc(45% + 177.19px);
    }
  }
</style>
