---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import AnimatedCodeBlock from '../components/AnimatedCodeBlock.astro';
import FixedCTA from '../components/FixedCTA.astro';
import Header from './home/Header.astro';
---

<Layout title="Formação Typescript">
  <main>
    <Header />
    <div class="background-blob">
      <span class="blob"></span>
      <span class="blob blob-2"></span>
    </div>
    <section id="hero">
      <AnimatedCodeBlock code="Hello World_" />
      <h1>
        Torne-se um mestre <br /> em <strong class="text-gradient"
          >TypeScript</strong
        >
      </h1>
      <p class="body-24">
        Domine a <strong>tecnologia mais requisitada</strong> e conquiste as melhores
        vagas do mercado.
      </p>
    </section>
    <!-- <Button variant="primary">Inscreva-se agora</Button>
    <Button variant="primary-large">
      Inscreva-se agora
      <img
        src="/public/assets/rocket.svg"
        alt="rocket"
        style="margin-left: 16px"
      />
    </Button>
    <Button variant="primary-alt">Inscreva-se agora</Button>
    <Button variant="outline">Inscreva-se agora</Button>
    <AnimatedCodeBlock code={'Code block here_'} language="javascript" />
    <FixedCTA />
    <img src="/public/assets/logo.svg" alt="logo" /> -->
  </main>
</Layout>

<style lang="scss">
  main {
    position: relative;
    width: 100%;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
  }

  .background-blob {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
  }

  .blob {
    position: absolute;
    width: calc(468.92px * 1.5);
    height: calc(468.92px * 1.5);
    top: 100px;
    left: -177.19px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--blue-dark) 0%, transparent 70%);
    z-index: 1;
    opacity: 0.7;

    &-2 {
      background: radial-gradient(
        circle,
        var(--blue-light) 0%,
        transparent 70%
      );
      top: -100px;
      left: calc(45% + 177.19px);
    }
  }
</style>
