---
interface Props {
  borderColor?: 'blue' | 'gray' | 'custom';
  customGradient?: string;
  padding?: string;
  paddingMobile?: string;
  borderWidth?: string;
  backgroundColor?: string;
}

const {
  borderColor = 'blue',
  customGradient,
  padding = '20px',
  paddingMobile = null,
  borderWidth = '2px',
  backgroundColor = '#09090a',
} = Astro.props;

const gradients = {
  blue: 'linear-gradient(105.87deg, var(--blue-light) 0.1%, var(--blue-dark) 77.77%)',
  gray: 'linear-gradient(180deg, #2D2D2D 0%, #121214 100%)',
  custom: customGradient,
};

const gradient = gradients[borderColor] || gradients.blue;
---

<div class="gradient-border">
  <div class="content">
    <slot />
  </div>
</div>

<style
  define:vars={{
    gradient,
    padding,
    paddingMobile,
    borderWidth,
    backgroundColor,
  }}
>
  .gradient-border {
    width: 100%;
    position: relative;
    background: var(--gradient);
    padding: var(--borderWidth);
    border-radius: 8px;
    opacity: 0.9;
  }

  .content {
    background: var(--backgroundColor);
    padding: var(--padding);
    border-radius: 6px;
    opacity: 0.9;
  }

  @media (max-width: 900px) {
    .content {
      padding: var(--paddingMobile, var(--padding));
    }
  }
</style>
