<div class="credits">
  <p>
    Made with ❤️ by <a
      href="https://github.com/wellssa"
      target="_blank"
      rel="noopener noreferrer">Wellington Almeida (WellsSA)</a
    >
  </p>
</div>

<style>
  .credits {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
  }

  .credits p {
    margin: 0;
    font-size: 14px;
    color: #fff;
  }

  .credits a {
    color: #01c4fb;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .credits a:hover {
    color: #0165fc;
  }
</style>
