---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/normalize.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --blue-dark: #0165fc;
    --blue-light: #01c4fb;
    --blue-gradient: linear-gradient(105.87deg, #01c4fb 0.1%, #0165fc 77.77%);
    --white: #ffffff;
    --blue-box-shadow: 0px 4px 70.9px 0px #0266fc80;
    --green-box-shadow: 0px 4px 70.9px 0px #00a27780;
    --green-medium: #00a277;
    --green-15: #00a27726;
    --gray-900: #09090a;
    --gray-800: #121214;
    --gray-700: #383838;
    --gray-500: #919191;
  }

  h1,
  h2,
  h3 {
    font-family: 'Plus Jakarta Sans';
    color: var(--gray-800);
    font-weight: 400;
  }

  h1 {
    font-size: 64px;
    line-height: 76.8px;
    text-align: center;
  }

  h2 {
    font-size: 48px;
    line-height: 57.6px;
    text-align: left;
  }

  h3 {
    font-size: 32px;
    line-height: 38.4px;
    text-align: left;
  }

  p {
    font-family: 'Plus Jakarta Sans';
    color: var(--gray-500);
    font-weight: 400;
    text-align: center;
  }

  p.body-24 {
    font-size: 24px;
    line-height: 36px;
  }

  p.body-20 {
    font-size: 20px;
    line-height: 30px;
  }

  p.body-16 {
    font-size: 16px;
    line-height: 24px;
  }
</style>
